# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/


# Build Specs
*.vipb
Panther Dashboard Project/Panther Dashboard/.DS_Store
.DS_Store
